{%- liquid
  assign content_direction = section.settings.content_direction
  assign vertical_on_mobile = section.settings.vertical_on_mobile

  assign use_color_scheme_in_container = section.settings.use_color_scheme_in_container
  assign use_padding_inline = true
  if section.settings.container == 'page-width' and use_color_scheme_in_container == false
    assign use_padding_inline = false
  endif
-%}
{%- capture inline_style -%}
  {%- unless use_color_scheme_in_container -%}
  {% render 'border-style', settings: section.settings %}
  {%- endunless -%}
{%- endcapture -%}
{%- capture content_wrapper_class -%}
  custom-section__content spacing-style gap-style
  layout-panel-flex
  layout-panel-flex--{{ content_direction | default: 'column' }}
  {% if content_direction == 'row' and vertical_on_mobile %}mobile-column{% endif %}
  grid-column-gap--{{ section.settings.column_gap }}
  grid-row-gap--{{ section.settings.row_gap }}
  {% if use_color_scheme_in_container %}border-style color-{{ section.settings.color_scheme }}{% endif %}
{%- endcapture -%}
{%- capture content_wrapper_style -%}
  {%- render 'layout-panel-style', settings: section.settings, type: 'flex' -%}
  {%- render 'spacing-style', settings: section.settings, use_padding_inline: use_padding_inline -%}
  {%- render 'gap-style', settings: section.settings -%}
  {%- if use_color_scheme_in_container -%}
    {% render 'border-style', settings: section.settings %}
  {%- endif -%}
{%- endcapture -%}
<div
  class="section custom-section {{ section.settings.container }}{% unless use_color_scheme_in_container %} border-style color-{{ section.settings.color_scheme }}{% else %} inherit-color-scheme{% endunless %}"
  style="{{ inline_style | replace: '  ', ' ' | strip | strip_newlines }}"
>
  <div
    class="{{ content_wrapper_class | replace: '  ', ' ' | strip | strip_newlines }}"
    style="{{ content_wrapper_style | replace: '  ', ' ' | strip | strip_newlines }}"
  >
    {% content_for 'blocks' %}
  </div>
</div>
{% schema %}
{
  "name": "t:names.custom_section",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_marquee"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:settings.container",
      "options": [
        { "value": "page-width--full", "label": "t:options.full" },
        { "value": "page-width", "label": "t:options.fixed" }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        },
        {
          "value": "space-between",
          "label": "t:options.space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "row_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.mobile_layout"
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "row_gap_mobile",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "use_color_scheme_in_container",
      "label": "t:settings.use_color_scheme_in_container",
      "default": false,
      "visible_if": "{{ section.settings.container == 'page-width' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.border_opacity",
      "default": 100,
      "visible_if": "{{ section.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'page-width--full' or section.settings.container == 'page-width' and  section.settings.use_color_scheme_in_container }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15,
      "visible_if": "{{ section.settings.device == 'desktop' and section.settings.container == 'page-width--full' or section.settings.container == 'page-width' and  section.settings.use_color_scheme_in_container }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'page-width--full' or section.settings.container == 'page-width' and  section.settings.use_color_scheme_in_container }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "visible_if": "{{ section.settings.device == 'mobile' and section.settings.container == 'page-width--full' or section.settings.container == 'page-width' and  section.settings.use_color_scheme_in_container }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_section",
      "category": "t:categories.custom"
    },
    {
      "name": "t:names.marquee",
      "category": "t:categories.banners",
      "settings": {
        "container": "page-width--full",
        "content_direction": "row"
      },
      "blocks": {
        "marquee": {
          "type": "_marquee",
          "settings": {
            "padding-block-start": 16,
            "padding-block-end": 16
          },
          "blocks": {
            "item_1": {
              "type": "text",
              "settings": {
                "text": "<p>WELCOME TO OUR STORE</p>",
                "type_preset": "h3"
              }
            },
            "item_2": {
              "type": "text",
              "settings": {
                "text": "<p>WELCOME TO OUR STORE</p>",
                "type_preset": "h3"
              }
            }
          },
          "block_order": ["item_1", "item_2"]
        }
      },
      "block_order": ["marquee"]
    },
    {
      "name": "t:names.rich_text",
      "category": "t:categories.storytelling",
      "settings": {
        "container": "page-width",
        "content_direction": "column",
        "vertical_on_mobile": true,
        "horizontal_alignment": "flex-start",
        "vertical_alignment": "center",
        "horizontal_alignment_flex_direction_column": "flex-start",
        "column_gap": 30,
        "row_gap": 24,
        "column_gap_mobile": 12,
        "row_gap_mobile": 12,
        "use_color_scheme_in_container": true,
        "color_scheme": "scheme-2",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 20,
        "device": "desktop",
        "padding-block-start": 40,
        "padding-block-end": 40,
        "padding-inline-start": 50,
        "padding-inline-end": 50,
        "padding-block-start-mobile": 32,
        "padding-block-end-mobile": 32,
        "padding-inline-start-mobile": 20,
        "padding-inline-end-mobile": 20
      },
      "blocks": {
        "heading": {
          "type": "text",
          "name": "t:names.text",
          "settings": {
            "text": "<p>Talk about your brand</p>",
            "type_preset": "h3",
            "font": "var(--font-body--family)",
            "font_size": 15,
            "font_size_mobile": 15,
            "line_height": "normal",
            "text_color": "text",
            "width": "fit-content",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 80,
            "animation_type": "none",
            "animation_delay": 250
          },
          "blocks": {}
        },
        "collapsible_text": {
          "type": "collapsible-text",
          "name": "t:names.collapsible_text",
          "settings": {
            "text": "<p>Take this opportunity to share meaningful details about your brand and the story behind it. Let your customers know what drives your business forward—whether it’s a passion for quality, innovation, sustainability, or craftsmanship. Talk about the values you hold dear, the inspiration behind your products, and the people or ideas that make your brand unique.</p><p>You can use this section to highlight a signature product that defines your collection, describe the creative process that brings your vision to life, or offer a behind-the-scenes look at how your items are made. It’s also an ideal place to share updates about upcoming launches, special promotions, or community initiatives that reflect your mission.</p><p>By giving visitors an authentic glimpse into your brand’s world, you help them connect with more than just your products—you invite them to become part of your story. This kind of transparency and warmth builds trust, strengthens engagement, and leaves a lasting impression that turns first-time visitors into loyal customers.</p>",
            "type_preset": "rte",
            "font": "var(--font-body--family)",
            "font_size": 15,
            "font_size_mobile": 15,
            "line_height": "normal",
            "text_color": "subtext",
            "line_limit": "4-lines",
            "button_style": "primary",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 80
          },
          "blocks": {}
        }
      },
      "block_order": ["heading", "collapsible_text"]
    },
    {
      "name": "t:names.faqs_preset_image",
      "category": "t:categories.storytelling",
      "settings": {
        "container": "page-width--full",
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "center",
        "vertical_alignment": "center",
        "horizontal_alignment_flex_direction_column": "flex-start",
        "column_gap": 0,
        "row_gap": 0,
        "column_gap_mobile": 0,
        "row_gap_mobile": 0,
        "use_color_scheme_in_container": false,
        "color_scheme": "scheme-2",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "device": "desktop",
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0,
        "padding-block-start-mobile": 48,
        "padding-block-end-mobile": 48,
        "padding-inline-start-mobile": 0,
        "padding-inline-end-mobile": 0
      },
      "blocks": {
        "image_jTgtrj": {
          "type": "image",
          "name": "t:names.image",
          "settings": {
            "link": "",
            "image_ratio": "adapt",
            "image_ratio_mobile": "adapt",
            "width": "custom",
            "custom_width": 50,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        },
        "group_LFUyJh": {
          "type": "group",
          "name": "t:names.group",
          "settings": {
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "center",
            "column_gap": 0,
            "row_gap": 0,
            "width": "custom",
            "custom_width": 50,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": false,
            "color_scheme": "scheme-2",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 0,
            "row_gap_mobile": 0,
            "device": "mobile",
            "padding-block-start": 80,
            "padding-block-end": 80,
            "padding-inline-start": 80,
            "padding-inline-end": 80,
            "padding-block-start-mobile": 40,
            "padding-block-end-mobile": 40,
            "padding-inline-start-mobile": 16,
            "padding-inline-end-mobile": 16
          },
          "blocks": {
            "group_tNPf4a": {
              "type": "group",
              "name": "t:names.section_header_vertical",
              "settings": {
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "horizontal_alignment_flex_direction_column": "flex-start",
                "column_gap": 0,
                "row_gap": 0,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "column_gap_mobile": 0,
                "row_gap_mobile": 0,
                "device": "desktop",
                "padding-block-start": 0,
                "padding-block-end": 40,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 24,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "text_83fMXw": {
                  "type": "text",
                  "name": "t:names.heading",
                  "settings": {
                    "text": "<p>Frequently Asked Questions</p>",
                    "type_preset": "h1",
                    "font": "var(--font-body--family)",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "width": "fit-content",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_83fMXw"]
            },
            "accordion_gf6ggA": {
              "type": "accordion",
              "name": "t:names.accordion",
              "settings": {
                "open_behavior": "single",
                "type_preset": "h4",
                "style": "card",
                "card_color_scheme": "scheme-1",
                "icon_arrow": "caret",
                "icon_style": "solid",
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "accordion_row_eBLURt": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "Return policy",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_KXFA3f": {
                      "type": "text",
                      "settings": {
                        "text": "<p>We accept returns within 30 days of purchase. Please note that all items must be returned in their original condition, including all tags and packaging. Shipping costs are non-refundable.</p>",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "text",
                        "width": "100%",
                        "text_alignment": "left",
                        "width_mobile": "100%",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_KXFA3f"]
                },
                "accordion_row_tTrR3m": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "Shipping",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_N3HFnq": {
                      "type": "text",
                      "settings": {
                        "text": "<p>We offer free shipping on all orders over $100. Orders under $100 will be charged a flat rate of $10.</p>",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "text",
                        "width": "100%",
                        "text_alignment": "left",
                        "width_mobile": "100%",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_N3HFnq"]
                },
                "accordion_row_wzDpjT": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "Manufacturing",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_Hnq7EM": {
                      "type": "text",
                      "settings": {
                        "text": "<p>We offer free shipping on all orders over $100. Orders under $100 will be charged a flat rate of $10.</p>",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "text",
                        "width": "100%",
                        "text_alignment": "left",
                        "width_mobile": "100%",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_Hnq7EM"]
                }
              },
              "block_order": ["accordion_row_eBLURt", "accordion_row_tTrR3m", "accordion_row_wzDpjT"]
            }
          },
          "block_order": ["group_tNPf4a", "accordion_gf6ggA"]
        }
      },
      "block_order": ["image_jTgtrj", "group_LFUyJh"]
    },
    {
      "name": "t:names.faqs_preset_banner",
      "category": "t:categories.storytelling",
      "settings": {
        "container": "page-width",
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "flex-start",
        "vertical_alignment": "center",
        "horizontal_alignment_flex_direction_column": "flex-start",
        "column_gap": 0,
        "row_gap": 0,
        "column_gap_mobile": 0,
        "row_gap_mobile": 0,
        "use_color_scheme_in_container": true,
        "color_scheme": "scheme-2",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 20,
        "device": "desktop",
        "padding-block-start": 0,
        "padding-block-end": 0,
        "padding-inline-start": 0,
        "padding-inline-end": 0,
        "padding-block-start-mobile": 0,
        "padding-block-end-mobile": 0,
        "padding-inline-start-mobile": 0,
        "padding-inline-end-mobile": 0
      },
      "blocks": {
        "image_card_kEUTWL": {
          "type": "image-card",
          "name": "t:names.image_card",
          "settings": {
            "show_content_below": false,
            "gap": 20,
            "gap_mobile": 20,
            "toggle_overlay": true,
            "overlay_color": "#0000001a",
            "image_ratio": "adapt",
            "image_ratio_mobile": "adapt",
            "image_border": "none",
            "image_border_width": 1,
            "image_border_opacity": 100,
            "image_border_radius": 0,
            "card_link": "",
            "edge_gap": "lg",
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "center",
            "vertical_alignment_flex_direction_column": "flex-start",
            "column_gap": 12,
            "column_gap_mobile": 12,
            "row_gap": 32,
            "row_gap_mobile": 24,
            "width": "custom",
            "custom_width": 32,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "enable_full_height": true,
            "inherit_color_scheme": false,
            "color_scheme": "scheme-inverse",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "card_label": "",
            "card_label_text_color": "#ffffff",
            "enable_preload_image": false
          },
          "blocks": {
            "subheading": {
              "type": "_simple-text",
              "name": "t:names.subheading",
              "static": true,
              "settings": {
                "text": "<p></p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "text-subheading",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "loose",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 20,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "heading": {
              "type": "_simple-text",
              "name": "t:names.heading",
              "static": true,
              "settings": {
                "text": "<p>Still Need Help?</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "h2",
                "font": "var(--font-heading--family)",
                "font_weight": "",
                "font_size": 48,
                "font_size_mobile": 34,
                "line_height": "tight",
                "text_color": "text",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "text": {
              "type": "_simple-text",
              "static": true,
              "settings": {
                "text": "<p>Shoot our team an email & we’ll get<br/>back to you ASAP</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "loose",
                "text_color": "text",
                "padding-block-start": 16,
                "padding-block-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "button": {
              "type": "button",
              "static": true,
              "settings": {
                "label": "Contact us",
                "link": "",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_only": false,
                "icon_style": "solid",
                "mobile_full_width": false,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            }
          },
          "block_order": []
        },
        "group_MxbTQz": {
          "type": "group",
          "name": "t:names.group",
          "settings": {
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "center",
            "column_gap": 0,
            "row_gap": 0,
            "enable_sticky_desktop": false,
            "width": "custom",
            "custom_width": 68,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": false,
            "color_scheme": "scheme-2",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 0,
            "row_gap_mobile": 0,
            "device": "desktop",
            "padding-block-start": 80,
            "padding-block-end": 80,
            "padding-inline-start": 80,
            "padding-inline-end": 80,
            "padding-block-start-mobile": 40,
            "padding-block-end-mobile": 40,
            "padding-inline-start-mobile": 16,
            "padding-inline-end-mobile": 16
          },
          "blocks": {
            "group_cipxHr": {
              "type": "group",
              "name": "t:names.section_header_vertical",
              "settings": {
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "horizontal_alignment_flex_direction_column": "flex-start",
                "column_gap": 0,
                "row_gap": 0,
                "enable_sticky_desktop": false,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "column_gap_mobile": 0,
                "row_gap_mobile": 0,
                "device": "mobile",
                "padding-block-start": 0,
                "padding-block-end": 40,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 24,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "text_tGTRjE": {
                  "type": "text",
                  "name": "t:names.heading",
                  "settings": {
                    "text": "<p>Frequently Asked Questions</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "h1",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "text_color_gradient": "",
                    "width": "fit-content",
                    "text_alignment": "left",
                    "width_mobile": "fit-content",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "fade-up",
                    "animation_delay": 50
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_tGTRjE"]
            },
            "accordion_gfNgJC": {
              "type": "accordion",
              "name": "t:names.accordion",
              "settings": {
                "open_behavior": "single",
                "type_preset": "h4",
                "style": "card",
                "card_color_scheme": "scheme-1",
                "icon_arrow": "caret",
                "icon_style": "solid",
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0
              },
              "blocks": {
                "accordion_row_VgRfzJ": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "How long does it take to process an order?",
                    "open_row_by_default": true,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_VfRwNV": {
                      "type": "text",
                      "settings": {
                        "text": "<p>Orders are usually processed within 1–2 business days. You’ll receive a confirmation email once your order is fully prepared and ready to ship.</p>",
                        "highlight_style": "none",
                        "highlight_font_style": "italic",
                        "highlight_shape_color": "",
                        "highlight_text_color": "",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_weight": "",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "subtext",
                        "text_color_gradient": "",
                        "width": "fit-content",
                        "text_alignment": "left",
                        "width_mobile": "fit-content",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_VfRwNV"]
                },
                "accordion_row_ynWVCR": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "Do you ship internationally?",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_tKxVAY": {
                      "type": "text",
                      "settings": {
                        "text": "<p>Yes, we ship to most countries worldwide. Shipping times and rates vary by location, and all available options will be shown at checkout.</p>",
                        "highlight_style": "none",
                        "highlight_font_style": "italic",
                        "highlight_shape_color": "",
                        "highlight_text_color": "",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_weight": "",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "subtext",
                        "text_color_gradient": "",
                        "width": "fit-content",
                        "text_alignment": "left",
                        "width_mobile": "fit-content",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_tKxVAY"]
                },
                "accordion_row_awAzd8": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "What is your return policy?",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_WXGqtt": {
                      "type": "text",
                      "settings": {
                        "text": "<p>We accept returns within 30 days of purchase. Items must be unworn, unwashed, and in original condition with tags attached for a full refund.</p>",
                        "highlight_style": "none",
                        "highlight_font_style": "italic",
                        "highlight_shape_color": "",
                        "highlight_text_color": "",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_weight": "",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "subtext",
                        "text_color_gradient": "",
                        "width": "fit-content",
                        "text_alignment": "left",
                        "width_mobile": "fit-content",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_WXGqtt"]
                },
                "accordion_row_r6fVEm": {
                  "type": "_accordion-row",
                  "settings": {
                    "text": "What are your sizing options?",
                    "open_row_by_default": false,
                    "icon": "none",
                    "icon_size": "extra-large",
                    "width": 24,
                    "width_mobile": 24
                  },
                  "blocks": {
                    "text_kiVaET": {
                      "type": "text",
                      "settings": {
                        "text": "<p>We offer a full range of sizes from XS to XL. Refer to our detailed size chart for accurate measurements to find your perfect fit.</p>",
                        "highlight_style": "none",
                        "highlight_font_style": "italic",
                        "highlight_shape_color": "",
                        "highlight_text_color": "",
                        "type_preset": "rte",
                        "font": "var(--font-body--family)",
                        "font_weight": "",
                        "font_size": 15,
                        "font_size_mobile": 15,
                        "line_height": "normal",
                        "text_color": "subtext",
                        "text_color_gradient": "",
                        "width": "fit-content",
                        "text_alignment": "left",
                        "width_mobile": "fit-content",
                        "text_alignment_mobile": "left",
                        "padding-block-start": 0,
                        "padding-block-end": 0,
                        "padding-inline-start": 0,
                        "padding-inline-end": 0,
                        "mobile-padding-scale": 80,
                        "animation_type": "none",
                        "animation_delay": 250
                      },
                      "blocks": {}
                    }
                  },
                  "block_order": ["text_kiVaET"]
                }
              },
              "block_order": ["accordion_row_VgRfzJ", "accordion_row_ynWVCR", "accordion_row_awAzd8", "accordion_row_r6fVEm"]
            }
          },
          "block_order": ["group_cipxHr", "accordion_gfNgJC"]
        }
      },
      "block_order": ["image_card_kEUTWL", "group_MxbTQz"]
    },
    {
      "name": "t:names.faqs_preset_texts",
      "category": "t:categories.storytelling",
      "settings": {
        "container": "page-width",
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "center",
        "vertical_alignment": "flex-start",
        "horizontal_alignment_flex_direction_column": "flex-start",
        "column_gap": 60,
        "row_gap": 0,
        "column_gap_mobile": 30,
        "row_gap_mobile": 24,
        "use_color_scheme_in_container": false,
        "color_scheme": "scheme-1",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "device": "desktop",
        "padding-block-start": 80,
        "padding-block-end": 80,
        "padding-inline-start": 50,
        "padding-inline-end": 50,
        "padding-block-start-mobile": 48,
        "padding-block-end-mobile": 48,
        "padding-inline-start-mobile": 20,
        "padding-inline-end-mobile": 20
      },
      "blocks": {
        "group_HT3V7d": {
          "type": "group",
          "name": "t:names.section_header_vertical",
          "settings": {
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "flex-start",
            "column_gap": 0,
            "row_gap": 0,
            "enable_sticky_desktop": true,
            "width": "custom",
            "custom_width": 30,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 0,
            "row_gap_mobile": 0,
            "device": "mobile",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "text_QUJeER": {
              "type": "text",
              "name": "t:names.subheading",
              "settings": {
                "text": "<p>Add a tagline</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "text-subheading",
                "font": "var(--font-body--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "text_color_gradient": "",
                "width": "fit-content",
                "text_alignment": "left",
                "width_mobile": "fit-content",
                "text_alignment_mobile": "left",
                "padding-block-start": 0,
                "padding-block-end": 20,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "text_xyDHXG": {
              "type": "text",
              "name": "t:names.heading",
              "settings": {
                "text": "<p>Frequently Asked Questions</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "h1",
                "font": "var(--font-body--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "text_color_gradient": "",
                "width": "fit-content",
                "text_alignment": "left",
                "width_mobile": "fit-content",
                "text_alignment_mobile": "left",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "text_T7cjfb": {
              "type": "text",
              "name": "t:names.text",
              "settings": {
                "text": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "highlight_style": "none",
                "highlight_font_style": "italic",
                "highlight_shape_color": "",
                "highlight_text_color": "",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_weight": "",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "text_color_gradient": "",
                "width": "fit-content",
                "text_alignment": "left",
                "width_mobile": "fit-content",
                "text_alignment_mobile": "left",
                "padding-block-start": 24,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 83,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            }
          },
          "block_order": ["text_QUJeER", "text_xyDHXG", "text_T7cjfb"]
        },
        "accordion_PTeBGd": {
          "type": "accordion",
          "name": "t:names.accordion",
          "settings": {
            "open_behavior": "single",
            "type_preset": "h4",
            "style": "standard",
            "card_color_scheme": "scheme-1",
            "icon_arrow": "caret",
            "icon_style": "solid",
            "width": "custom",
            "custom_width": 70,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {
            "accordion_row_rwApTN": {
              "type": "_accordion-row",
              "settings": {
                "text": "Return policy",
                "open_row_by_default": false,
                "icon": "arrow-up-left",
                "icon_size": "custom-size",
                "width": 32,
                "width_mobile": 24
              },
              "blocks": {
                "text_B63QzE": {
                  "type": "text",
                  "settings": {
                    "text": "<p>We accept returns within 30 days of purchase. Please note that all items must be returned in their original condition, including all tags and packaging. Shipping costs are non-refundable.</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "subtext",
                    "text_color_gradient": "",
                    "width": "100%",
                    "text_alignment": "left",
                    "width_mobile": "100%",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_B63QzE"]
            },
            "accordion_row_ieMze8": {
              "type": "_accordion-row",
              "settings": {
                "text": "Shipping",
                "open_row_by_default": false,
                "icon": "package",
                "icon_size": "custom-size",
                "width": 32,
                "width_mobile": 24
              },
              "blocks": {
                "text_yKiy4m": {
                  "type": "text",
                  "settings": {
                    "text": "<p>We offer free shipping on all orders over $100. Orders under $100 will be charged a flat rate of $10.</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "subtext",
                    "text_color_gradient": "",
                    "width": "100%",
                    "text_alignment": "left",
                    "width_mobile": "100%",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_yKiy4m"]
            },
            "accordion_row_qcQPF4": {
              "type": "_accordion-row",
              "settings": {
                "text": "Manufacturing",
                "open_row_by_default": false,
                "icon": "paper-plane",
                "icon_size": "custom-size",
                "width": 32,
                "width_mobile": 24
              },
              "blocks": {
                "text_4U9mUR": {
                  "type": "text",
                  "settings": {
                    "text": "<p>We offer free shipping on all orders over $100. Orders under $100 will be charged a flat rate of $10.</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_weight": "",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "subtext",
                    "text_color_gradient": "",
                    "width": "100%",
                    "text_alignment": "left",
                    "width_mobile": "100%",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_4U9mUR"]
            }
          },
          "block_order": ["accordion_row_rwApTN", "accordion_row_ieMze8", "accordion_row_qcQPF4"]
        }
      },
      "block_order": ["group_HT3V7d", "accordion_PTeBGd"]
    },
    {
      "name": "t:names.images_stack_banner",
      "category": "t:categories.banners",
      "settings": {
        "container": "page-width",
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "space-between",
        "vertical_alignment": "center",
        "horizontal_alignment_flex_direction_column": "flex-start",
        "column_gap": 24,
        "row_gap": 12,
        "column_gap_mobile": 12,
        "row_gap_mobile": 12,
        "use_color_scheme_in_container": true,
        "color_scheme": "scheme-2",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 20,
        "device": "mobile",
        "padding-block-start": 30,
        "padding-block-end": 30,
        "padding-inline-start": 40,
        "padding-inline-end": 40,
        "padding-block-start-mobile": 24,
        "padding-block-end-mobile": 24,
        "padding-inline-start-mobile": 20,
        "padding-inline-end-mobile": 20
      },
      "blocks": {
        "group_8chEQA": {
          "type": "group",
          "name": "t:names.group",
          "settings": {
            "content_direction": "row",
            "vertical_on_mobile": true,
            "horizontal_alignment": "center",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "flex-start",
            "column_gap": 24,
            "row_gap": 20,
            "width": "fit-content",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 16,
            "row_gap_mobile": 20,
            "device": "desktop",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "images_stack": {
              "type": "images-stack",
              "name": "t:names.images_stack",
              "settings": {},
              "blocks": {
                "image_stack_1": {
                  "type": "_image-stack",
                  "name": "t:names.image"
                },
                "image_stack_2": {
                  "type": "_image-stack",
                  "name": "t:names.image"
                },
                "image_stack_3": {
                  "type": "_image-stack",
                  "name": "t:names.image"
                }
              },
              "block_order": ["image_stack_1", "image_stack_2", "image_stack_3"]
            },
            "text_DJhLEG": {
              "type": "text",
              "name": "t:names.text",
              "settings": {
                "text": "<p>Save 20% for Online Store</p>",
                "type_preset": "h2",
                "font": "var(--font-body--family)",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "width": "fit-content",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            }
          },
          "block_order": ["images_stack", "text_DJhLEG"]
        },
        "group_9mtxBG": {
          "type": "group",
          "name": "t:names.group",
          "settings": {
            "content_direction": "row",
            "vertical_on_mobile": true,
            "horizontal_alignment": "center",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "flex-start",
            "column_gap": 24,
            "row_gap": 20,
            "width": "fit-content",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 16,
            "row_gap_mobile": 20,
            "device": "desktop",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "text_884knm": {
              "type": "text",
              "name": "t:names.text",
              "settings": {
                "text": "<p>Limited time: 20% off online purchases</p>",
                "type_preset": "rte",
                "font": "var(--font-body--family)",
                "font_size": 15,
                "font_size_mobile": 15,
                "line_height": "normal",
                "text_color": "text",
                "width": "fit-content",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "mobile-padding-scale": 80,
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            },
            "button_BHtFBz": {
              "type": "button",
              "name": "t:names.button",
              "settings": {
                "label": "Shop now",
                "link": "shopify://collections/all",
                "style": "primary",
                "size": "large",
                "icon": "caret-right",
                "icon_style": "solid",
                "animation_type": "none",
                "animation_delay": 250
              },
              "blocks": {}
            }
          },
          "block_order": ["text_884knm", "button_BHtFBz"]
        }
      },
      "block_order": ["group_8chEQA", "group_9mtxBG"]
    },
    {
      "name": "t:names.contact_form",
      "category": "t:categories.forms",
      "settings": {
        "container": "page-width",
        "content_direction": "row",
        "vertical_on_mobile": true,
        "horizontal_alignment": "flex-start",
        "vertical_alignment": "flex-start",
        "horizontal_alignment_flex_direction_column": "center",
        "column_gap": 50,
        "row_gap": 12,
        "column_gap_mobile": 12,
        "row_gap_mobile": 40,
        "use_color_scheme_in_container": false,
        "color_scheme": "scheme-1",
        "border": "none",
        "border_width": 1,
        "border_opacity": 100,
        "border_radius": 0,
        "device": "desktop",
        "padding-block-start": 100,
        "padding-block-end": 100,
        "padding-inline-start": 0,
        "padding-inline-end": 0,
        "padding-block-start-mobile": 48,
        "padding-block-end-mobile": 48,
        "padding-inline-start-mobile": 0,
        "padding-inline-end-mobile": 0
      },
      "blocks": {
        "contact_form_xVqtNY": {
          "type": "contact-form",
          "name": "Contact form",
          "settings": {
            "width": "fill",
            "custom_width": 100,
            "width_mobile": "fill",
            "custom_width_mobile": 100
          },
          "blocks": {
            "custom_field_jA7W3T": {
              "type": "_custom-field",
              "name": "Custom field",
              "settings": {
                "field_type": "text",
                "heading": "Phone",
                "placeholder": "",
                "required": false,
                "full_width": false,
                "select_options": "",
                "checkbox_checked_value": "Yes",
                "checkbox_uncheck_value": "No"
              },
              "blocks": {}
            },
            "custom_field_ahN7m8": {
              "type": "_custom-field",
              "name": "Custom field",
              "settings": {
                "field_type": "text",
                "heading": "Order Number",
                "placeholder": "",
                "required": false,
                "full_width": false,
                "select_options": "",
                "checkbox_checked_value": "Yes",
                "checkbox_uncheck_value": "No"
              },
              "blocks": {}
            },
            "custom_field_B7xPY4": {
              "type": "_custom-field",
              "settings": {
                "field_type": "select",
                "heading": "Country",
                "placeholder": "",
                "required": false,
                "full_width": true,
                "select_options": "Austria,Viet Nam,Japan",
                "checkbox_checked_value": "Yes",
                "checkbox_uncheck_value": "No"
              },
              "blocks": {}
            }
          },
          "block_order": ["custom_field_jA7W3T", "custom_field_ahN7m8", "custom_field_B7xPY4"]
        },
        "divider_maGHLe": {
          "type": "divider",
          "name": "t:names.divider",
          "settings": {
            "thickness": 1,
            "width_percent": 100,
            "disable_on_mobile": false,
            "device": "desktop",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-block-start-mobile": 24,
            "padding-block-end-mobile": 24
          },
          "blocks": {}
        },
        "group_h73pxB": {
          "type": "group",
          "name": "t:names.group",
          "settings": {
            "content_direction": "column",
            "vertical_on_mobile": true,
            "horizontal_alignment": "flex-start",
            "vertical_alignment": "center",
            "horizontal_alignment_flex_direction_column": "flex-start",
            "column_gap": 12,
            "row_gap": 32,
            "width": "custom",
            "custom_width": 40,
            "width_mobile": "fill",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "border": "none",
            "border_width": 1,
            "border_opacity": 100,
            "border_radius": 0,
            "column_gap_mobile": 12,
            "row_gap_mobile": 12,
            "device": "desktop",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 0,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {
            "group_bBr4it": {
              "type": "group",
              "name": "t:names.group",
              "settings": {
                "content_direction": "column",
                "vertical_on_mobile": true,
                "horizontal_alignment": "flex-start",
                "vertical_alignment": "center",
                "horizontal_alignment_flex_direction_column": "flex-start",
                "column_gap": 12,
                "row_gap": 12,
                "width": "fill",
                "custom_width": 100,
                "width_mobile": "fill",
                "custom_width_mobile": 100,
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 100,
                "border_radius": 0,
                "column_gap_mobile": 12,
                "row_gap_mobile": 12,
                "device": "desktop",
                "padding-block-start": 0,
                "padding-block-end": 0,
                "padding-inline-start": 0,
                "padding-inline-end": 0,
                "padding-block-start-mobile": 0,
                "padding-block-end-mobile": 0,
                "padding-inline-start-mobile": 0,
                "padding-inline-end-mobile": 0
              },
              "blocks": {
                "text_UFEDBD": {
                  "type": "text",
                  "name": "t:names.heading",
                  "settings": {
                    "text": "<p>Information</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "h2",
                    "font": "var(--font-body--family)",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "width": "fit-content",
                    "text_alignment": "left",
                    "width_mobile": "fit-content",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                },
                "text_t7q79N": {
                  "type": "text",
                  "name": "t:names.text",
                  "settings": {
                    "text": "<p>Our location, phone number & business hours—right at your fingertips.</p>",
                    "highlight_style": "none",
                    "highlight_font_style": "italic",
                    "highlight_shape_color": "",
                    "highlight_text_color": "",
                    "type_preset": "rte",
                    "font": "var(--font-body--family)",
                    "font_size": 15,
                    "font_size_mobile": 15,
                    "line_height": "normal",
                    "text_color": "text",
                    "width": "fit-content",
                    "text_alignment": "left",
                    "width_mobile": "fit-content",
                    "text_alignment_mobile": "left",
                    "padding-block-start": 0,
                    "padding-block-end": 0,
                    "padding-inline-start": 0,
                    "padding-inline-end": 0,
                    "mobile-padding-scale": 80,
                    "animation_type": "none",
                    "animation_delay": 250
                  },
                  "blocks": {}
                }
              },
              "block_order": ["text_UFEDBD", "text_t7q79N"]
            },
            "icon_box_JVPTLC": {
              "type": "icon-box",
              "name": "t:names.icon_box_card",
              "settings": {
                "direction": "horizontal",
                "text_align": "left",
                "icon": "map-pin",
                "icon_spacing": 12,
                "icon_size": "custom-size",
                "icon_width": 32,
                "icon_width_mobile": 32,
                "heading": "Support",
                "heading_preset": "h6",
                "text": "<p><span style=\"text-decoration:underline\">pebble@mystore.com</span></p>",
                "link": "",
                "content_row_gap": 4,
                "style": "standard",
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 10,
                "border_radius": 10
              },
              "blocks": {}
            },
            "icon_box_FHjKMk": {
              "type": "icon-box",
              "name": "t:names.icon_box_card",
              "settings": {
                "direction": "horizontal",
                "text_align": "left",
                "icon": "phone",
                "icon_spacing": 12,
                "icon_size": "custom-size",
                "icon_width": 28,
                "icon_width_mobile": 28,
                "heading": "Call Us",
                "heading_preset": "h6",
                "text": "<p>+1 888-234-1234 (tool-free)</p>",
                "link": "",
                "content_row_gap": 4,
                "style": "standard",
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 10,
                "border_radius": 10
              },
              "blocks": {}
            },
            "icon_box_ktaWMe": {
              "type": "icon-box",
              "name": "t:names.icon_box_card",
              "settings": {
                "direction": "horizontal",
                "text_align": "left",
                "icon": "clock",
                "icon_spacing": 12,
                "icon_size": "custom-size",
                "icon_width": 28,
                "icon_width_mobile": 28,
                "heading": "Working Hour",
                "heading_preset": "h6",
                "text": "<p>Mon – Fri, 7:30 AM – 4:00 PM PT<br/>Sat, 8:00 AM – 1:00 PM PT<br/>Sun, Closed</p>",
                "link": "",
                "content_row_gap": 4,
                "style": "standard",
                "inherit_color_scheme": true,
                "color_scheme": "",
                "border": "none",
                "border_width": 1,
                "border_opacity": 10,
                "border_radius": 10
              },
              "blocks": {}
            }
          },
          "block_order": ["group_bBr4it", "icon_box_JVPTLC", "icon_box_FHjKMk", "icon_box_ktaWMe"]
        }
      },
      "block_order": ["contact_form_xVqtNY", "divider_maGHLe", "group_h73pxB"]
    }
  ]
}
{% endschema %}
