{% liquid
  assign render_order = 'media,product-details'
  assign product_has_media = true
  if closest.product.media.size == 0
    assign product_has_media = false
  endif

  assign product_grid_class = 'product-information__grid'

  if product_has_media == false
    assign product_grid_class = product_grid_class | append: ' product-information__grid--media-none'
  elsif section.settings.media_position == 'right'
    assign product_grid_class = product_grid_class | append: ' product-information__grid--media-right'
  else
    assign product_grid_class = product_grid_class | append: ' product-information__grid--media-left'
  endif

  if section.settings.equal_columns
    assign product_grid_class = product_grid_class | append: ' product-information__grid--half'
  endif
%}

{% capture section_style %}
  {% render 'spacing-style', settings: section.settings, scale_min: 24 %}
  --gap: {{ section.settings.gap | divided_by: 10.0 }}rem;
{% endcapture %}

<script type="application/ld+json">
  {{ closest.product | structured_data }}
</script>

<div
  class="product-information product-information--main spacing-style section-grid section--{{ section.settings.container }} color-{{ section.settings.color_scheme }}"
  style="{{ section_style | strip_newlines | strip }}"
>
  <div
    class="{{ product_grid_class }}"
  >
    {% assign render_order_array = render_order | split: ',' %}
    {% comment %}theme-check-disable{% endcomment %}
    {% capture media %}
      <div class="product-information__media">
        {%- content_for 'block',
          type: '_product-media-gallery',
          id: 'media-gallery',
          closest.product: closest.product
        -%}
      </div>
    {% endcapture %}
    {% capture details %}
      {% content_for 'block',
        type: '_product-details',
        id: 'product-details',
        closest.product: closest.product
      %}
    {% endcapture %}
    {% comment %}theme-check-enable{% endcomment %}

    {% for block in render_order_array %}
      {% if block == 'media' and product_has_media %}
        {{ media }}
      {% elsif block == 'product-details' %}
        {{ details }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:names.product_information",
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:settings.container",
      "options": [
        { "value": "full", "label": "t:options.full" },
        { "value": "page", "label": "t:options.fixed" }
      ],
      "default": "page"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "t:settings.media_position",
      "options": [
        { "value": "left", "label": "t:options.left" },
        { "value": "right", "label": "t:options.right" }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "equal_columns",
      "label": "t:settings.equal_columns",
      "default": false
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ section.settings.device == 'mobile' }}"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": []
}
{% endschema %}
